---
import Layout from '@/layouts/Layout.astro';
import Talks from '@/components/Talks.astro';
import Skills from '@/components/Skills.astro';
import SocialNetworks from '@/components/SocialNetworks.astro';
import SelectLanguage from '@/components/SelectLanguage.astro';

import { headingsPT, seeMore, langsPT, talksPT, skillsPT } from '@/utils/i18n';

const description = "Desenvolvedor de Software focado no desenvolvimento front-end, Angular, Vue e React."
---

<Layout title="Gabriel Napolião - Desenvolvedor de Software" lang="pt" description={description}>
	<main>
		<h1>Gabriel <span class="text-gradient">Napolião</span></h1>
		<h2><span class="text-gradient">Desenvolvedor Front-End</span> e Palestrante</h2>
		<SelectLanguage langs={langsPT}/>
		<SocialNetworks />
		<p class="welcome">
			Olá 👋, sou um Desenvolvedor de Software Front-End focado em acessibilidade, usabilidade, otimização de performance de carregamento de página e desenvolvimento de código escalável. Nasci em 1999 e estudo programação desde os meus 14 anos de idade.<br><br>Durante minha carreira trabalhei com Angular, Ionic, Vue, React e React Native. Também trabalhei na Via Varejo (atual Grupo Casas Bahia), com foco em e-commerce, e no Banco Itaú, desenvolvendo sistemas de financiamento de veículos e soluções de Open Finance.
		</p>
		<Skills skills={skillsPT} textSeeMore={seeMore.pt} headingText={headingsPT.skills} />
		<Talks talks={talksPT} textSeeMore={seeMore.pt} headingText={headingsPT.talks} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 600px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1, h2 {
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 0;
	}
	h1 {
		font-size: 2rem;
	}
	@media screen and (max-width: 1100px) {
		h1 {
			margin-top: 2rem;
		}
	}
	h2 {
		font-size: 1rem;
	}
	.welcome {
		margin: 0;
		padding: 1.5rem;
		font-size: 1rem;
		font-weight: 100;
	}
</style>
