---
import Layout from '@/layouts/Layout.astro';
import Talks from '@/components/Talks.astro';
import Skills from '@/components/Skills.astro';
import SocialNetworks from '@/components/SocialNetworks.astro';
import SelectLanguage from '@/components/SelectLanguage.astro';

import { headingsEN, seeMore, langsEN, talksEN , skillsEN } from '@/utils/i18n';

const description = "Software Engineer focused on front-end development, Angular, Vue and React."
---

<Layout title="Gabriel Napolião - Software Developer" lang="en" description={description}>
	<main>
		<h1>Gabriel <span class="text-gradient">Napolião</span></h1>
		<h2><span class="text-gradient">Front-End Engineer</span> and Speaker</h2>
		<SelectLanguage langs={langsEN} />
		<SocialNetworks />
		<p class="welcome">
			Hi, I'm a Senior Software Engineer at Solutis and Speaker at Frontend CE Community. I'm currently 25 years old, and I started studying programming at 14.<br><br>During my career I've worked with Angular, Ionic, Vue, React and React Native. I also worked at retailer Via Varejo (now Grupo Casas Bahia) focusing on e-commerce and at Itaú Bank developing car financing systems and open finance.
		</p>
		<Skills skills={skillsEN} textSeeMore={seeMore.en} headingText={headingsEN.skills} />
		<Talks talks={talksEN} textSeeMore={seeMore.en}headingText={headingsEN.talks} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 600px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1, h2 {
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 0;
	}
	h1 {
		font-size: 2rem;
	}
	@media screen and (max-width: 1100px) {
		h1 {
			margin-top: 2rem;
		}
	}
	h2 {
		font-size: 1rem;
	}
	.welcome {
		margin: 0;
		padding: 1.5rem;
		font-size: 1rem;
		font-weight: 100;
	}
</style>
