---
import Layout from '@/layouts/Layout.astro';
import Talks from '@/components/Talks.astro';
import Skills from '@/components/Skills.astro';
import SocialNetworks from '@/components/SocialNetworks.astro';
import SelectLanguage from '@/components/SelectLanguage.astro';

import { headingsES, seeMore, langsES, talksES, skillsES } from '@/utils/i18n';

const description = "Ingeniero de Software enfocado en desarrollo front-end, Angular, Vue y React."
---

<Layout title="Gabriel Napoli칚o - Desarrollador de Software" lang="es" description={description}>
	<main>
		<h1>Gabriel <span class="text-gradient">Napoli칚o</span></h1>
		<h2><span class="text-gradient">Ingeniero Front-End</span> y Conferencista</h2>
		<SelectLanguage langs={langsES}/>
		<SocialNetworks />
		<p class="welcome">
			Hola 游녦, soy Ingeniero de Software Front-End especializado en accesibilidad, usabilidad, optimizaci칩n del rendimiento de carga de p치ginas y desarrollo de c칩digo escalable. Tengo 26 a침os y estudio programaci칩n desde los 14.<br><br>Durante mi carrera he trabajado con Angular, Ionic, Vue, React y React Native. Tambi칠n he trabajado en Via Varejo (ahora Grupo Casas Bahia), centr치ndome en el comercio electr칩nico, y en el Banco Ita칰, desarrollando sistemas de financiaci칩n de veh칤culos y soluciones de Open Finance.
		</p>
		<Skills skills={skillsES} textSeeMore={seeMore.es} headingText={headingsES.skills} />
		<Talks talks={talksES} textSeeMore={seeMore.es} headingText={headingsES.talks} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 600px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1, h2 {
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 0;
	}
	h1 {
		font-size: 2rem;
	}
	@media screen and (max-width: 1100px) {
		h1 {
			margin-top: 2rem;
		}
	}
	h2 {
		font-size: 1rem;
	}
	.welcome {
		margin: 0;
		padding: 1.5rem;
		font-size: 1rem;
		font-weight: 100;
	}
</style>
