---
import { ClientRouter } from 'astro:transitions';
import ProfilePhoto from '@/components/ProfilePhoto.astro';

interface Props {
	description: string;
	title: string;
	lang: string;
}

const { description, title, lang } = Astro.props;
const { site } = Astro;
---

<!doctype html>
<html lang={lang}>
	<head>
		<script data-astro-rerun is:inline defer src="https://www.googletagmanager.com/gtag/js?id=G-7P2YRPSRK1"></script>
		<script>
			// @ts-nocheck
			document.addEventListener('astro:page-load', () => {
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'G-7P2YRPSRK1');
			});
		</script>
		<meta charset="UTF-8" transition:persist/>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" transition:persist/>
		<link rel="preload" as="image" imagesrcset="/me.webp" transition:persist>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" transition:persist>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" transition:persist>
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" transition:persist>
		<link rel="manifest" href="/site.webmanifest" transition:persist>
		<meta name="theme-color" content="#000" transition:persist>
		<meta name="apple-mobile-web-app-status-bar-style" content="#000" transition:persist>
		<meta name="msapplication-navbutton-color" content="#000" transition:persist>
		<meta name="generator" content={Astro.generator} transition:persist/>
		<title>{title}</title>
		<meta name="robots" content="index, follow" transition:persist>
		<meta name="googlebot" content="index, follow" transition:persist>
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:url" content={`${site}${lang}`}>
		<meta property="og:site_name" content={title}>
		<meta name="twitter:card" content="summary" transition:persist>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:title" content={title}>
		<meta property="og:image" content={`${site}me.webp`} transition:persist>
		<meta property="og:type" content="website" transition:persist>
		<ClientRouter />
	</head>
	<body>
		<div id="hero-animation" transition:persist>
			<canvas id="matrix"></canvas>
			<ProfilePhoto />
		</div>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 0, 142, 255;
		--accent-light: 0, 226, 255;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #000;
	}
	body {
		overflow-x: hidden;
	}
	#hero-animation {
		transform-style: preserve-3d;
    transition: all .1s;
		will-change: transform;
		max-width: 1100px;
    margin: 0 auto;
	}
	@media screen and (min-width: 1100px) {
		#hero-animation {
			padding-bottom: 2rem;
		}
	}
	#matrix {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		height: 408px;
		width: 99%;
		max-width: 1100px;
		object-fit: cover;
		pointer-events: none;
		transform: translateZ(0);
		will-change: transform;
		filter: drop-shadow(0 0 2rem rgb(var(--accent)));
	}
	@media screen and (max-width: 427px) {
		#matrix {
			height: 304px;
		}
	}
	button {
		background: black;
    color: white;
    border: 1px solid rgb(var(--accent));
    border-radius: .225rem;
    padding: 0.5rem 1rem;
    font-size: .875rem;
    cursor: pointer;
	}
	button:hover {
		color: rgb(var(--accent));
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.h2 {
		margin: 1rem 1rem 0;
    line-height: 1;
		font-size: 1.5rem;
	}
	.hide {
		display: none;
	}
</style>
<script>
	import cmatrix from './cmatrix';
	import heroAnimation from './hero-animation';
	cmatrix();
	heroAnimation();
</script>
